# Gradle
.gradle/
build/
out/
libs/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db
*.log

# Minecraft
run/
eclipse/

# Build output
bin/
gradle-app.setting

# ForgeGradle
fg_cache/
userdev/
